<nav class="navbar-container">
  <div class="navbar-subcontainer">
    <div class="nav-logo">
      Cocktel
    </div>
    <!-- Lado direito ou centro: Links de navegação -->
    <div class="nav-item">
      <a href="#" class="nav-link">Home</a>
      <a href="#" class="nav-link">Contato</a>
    </div>
  </div>
</nav>

<router-outlet />

<footer class="footer">
  <div class="footer-content">
    <img src="../../public/cocktail.png" alt="">
    <div class="content-text">
      <p>
        Está página foi desenvolvida para fins de aprendizagem!
      </p>
      <p>
        A página foi desenvolvida em Angular +2 Versão Atual (v18)
        consumindo uma API totalmente gratuita:
        <a href="https://www.thecocktaildb.com/api.php?ref=apilist.fun">https://www.thecocktaildb.com/api.php?ref=apilist.fun</a>s
      </p>
    </div>
  </div>

  <p class="todos">Todos os Direitos Reservados | Desenvolvido por João Marcos</p>
</footer>
